/* Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  color: #333;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
}

p,
ul {
  font-size: 1.15rem;
}

/* Header Styles */
header {
  background-color: #004d4d;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

header h1 {
  margin: 0;
  color: #fff;
  text-shadow: 3px 3px 30px #727272;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

header nav a:hover {
  color: #ddd;
}

/* Heading Styles */
h2 {
  text-align: center;
  margin-bottom: 1rem;
}

/* Main Page Styles */
.main-page {
  display: flex;
  padding: 0;
  height: calc(100vh - 80px);
}

/* Image Container Styles */
.image-container {
  position: relative;
  width: 70%;
  height: calc(100vh - 80px);
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
  display: block;
}

/* Hero Section Styles */
.hero {
  display: flex;
  align-items: center;
  flex: 1;
  text-align: center;
  padding: 1rem;
  color: #004d4d;
}

.hero .container h2 {
  margin: 0;
  font-size: 3rem;
}

.hero .container p {
  font-size: 1.25rem;
  margin: 1rem 0;
}

/* Button Styles */
.hero button,
.project-btn {
  background-color: #004d4d;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.3s;
  box-shadow: 5px 5px 20px 2px #00000033;
}

.project-btn {
  width: 27%;
}

.project-btn:hover,
.hero button:hover {
  background-color: #003333;
}

/* Section Styles */
section {
  padding: 4rem 1rem;
}

/* Container Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* About Section Styles */
.about {
  background-color: #e5e7eb;
  color: #1f2937;
}

.about-description {
  font-size: 1.25rem;
}

/* Features Section Styles */
.features {
  background-color: #fff;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem 5rem;
}

.features-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.feature-desc {
  width: 30%;
  text-align: center;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
}

.features-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.features-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.features-description {
  font-size: 1.25rem;
}

/* Contact Section Styles */
.contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-container {
  display: flex;
  gap: 3rem;
}

.contact-card {
  align-items: center;
  background-color: #fff;
  border-radius: 0.75rem;
  box-shadow: 5px 5px 20px 2px #00000033;
  display: flex;
  height: 380px;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  padding: 60px 20px;
  width: 30%;
}

.contact-icon {
  height: 30px;
  width: 30px;
  object-fit: cover;
}

.contact-role {
  font-size: 1.15rem;
  font-style: italic;
  text-align: center;
}

.project-repo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

/* Footer Styles */
footer {
  background-color: #004d4d;
  text-align: center;
  padding: 1rem 0;
  color: #fff;
}
